
@{

}





 
















    <div id="tt">
        <div class="container navbar">
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg"alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>
            <div class="ta">
                <img height="300px" src="~/newfinal/foto/bag-24_cb598c64-4c0d-4081-b8d9-af6bacae2687_360x.jpg" alt="">
                <h1>Vintage cinch backpack</h1>
                <p>$573.00 $560.00</p>
            </div>

        </div>
    </div>







    <div id="yy">
        <div class="dd nav">
            <div class="yp">
                <h2>OUR STORES</h2>
                <p>Ha Noi</p>
                <p>New York</p>
                <p>London SF</p>
                <p>Los Angeles</p>
                <p>Chicago</p>
                <p>Las Vegas</p>


            </div>
            <div class="yp">
                <h2>INFORMATION</h2>
                <p>About Store</p>
                <p>New Collection</p>
                <p>Woman Dress</p>
                <p>Contact Us</p>
                <p>Latest News</p>

            </div>
            <div class="yp">
                <h2>USEFUL LINKS</h2>
                <p>Privacy Policy</p>
                <p>Returns</p>
                <p>Terms & Conditions</p>


            </div>
            <div class="yp">
                <h2>FOOTER MENU</h2>
                <p>Instagram profile</p>
                <p>New Collection</p>
                <p>Woman Dress</p>

            </div>


        </div>

    </div>














